@charset "UTF-8";
/* CSS Document */
#page {
        width: 900px;
        /* height: 2000px; */
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;
}
#social_media {
        float: right;
        margin-bottom: -5px;
}
#content {
        width: 100%;
        /* background-color: red;
        height: 100%; */
        position: relative;
}
#menu {
        color:  black;
        font-size: 16.5px;
        font-family:  'Courier New', Courier, monospace;
}
.menu_link {
        color: black;
        cursor: pointer;
}
.menu_link:active {
        color: grey;
}
.menu_link:hover {
        font-weight: 800;
}
.portfolio_link {
        color: black;
        text-decoration-line: underline;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        cursor: pointer;
}
.portfolio_link:hover {
        font-weight: 800;
}
.social_icon {
        width: 20px;
        height: 20px;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        margin-top: 10px;
}
.menu_indicator {
        width: 41px;
        height: 5px;
        left: 0px;
        position: relative;
        background: black;
        transition: left 1s, width 1s;
}
.basic_text {
        color:  black;
        font-size: 15px;
        line-height: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
.panel_img {
        margin-right: -4px;
        margin-bottom: -4px;
        width: 25%;
        height: 100px;
        border-radius: 0%;
        border-width: 0px;
        border-style: double;
        box-sizing: border-box;
        position: relative;
        border-color: rgb(218, 58, 58);
        transition: borderwidth 1s;
}
.panel_img:hover {
        border-width: 5px;
}
.active_panel {
        position: relative;
}
.portfolio_img {
        width: 20%;
        padding: 20px;
        position: absolute;
        transition: width 1s;
}
.portfolio_img:hover {
        width: 21%;
}
.bg_img_portfolio {
        width: 100%;
        height: 100%;
        max-height: 500px;
        z-index: -1;
        position: relative;
        -webkit-mask-image: linear-gradient(rgba(255,0,0,1), rgba(255,0,0,0.5));
        mask-image: linear-gradient(rgba(255,0,0,1), rgba(255,0,0,0.5));
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat; 
}
.title_portfolio {
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
#contact_me_form {
        padding: 10px;
        padding-left: 10px;
}
#submit_button {
        left: 150px;
        width: 100px;
        position: absolute;
}
.form_field {
        border-style: solid;
        border-width: 1px;
        padding: 5px;
        left: 150px;
        width: 300px;
        position: absolute;
}
.form_label {
        position: absolute;
}