@charset "UTF-8";
/* CSS Document */
#page {
        width: 900px;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;
}
#social_media {
        float: right;
        margin-bottom: -5px;
}
#content {
        width: 100%;
        height: 100%;
        position: relative;
}
#menu {
        color:  black;
        font-size: 16.5px;
        font-family:  'Courier New', Courier, monospace;
}
.menu_link {
        color: black;
        cursor: pointer;
}
.menu_link:active {
        color: grey;
}
.menu_link:hover {
        font-weight: 800;
}
.social_icon {
        width: 20px;
        height: 20px;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        margin-top: 10px;
}
.menu_indicator {
        width: 41px;
        height: 5px;
        left: 0px;
        position: relative;
        background: black;
        transition: left 1s, width 1s;
}
.basic_text {
        color:  black;
        font-size: 15px;
        line-height: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
}